@import 'bulma/css/bulma.css';

@font-face {
    font-family: 'RedHatText';
    src: url('../public/assets//fonts/static/RedHatText-Regular.ttf') format('truetype');
    font-weight: normal;  
}

  @font-face {
    font-family: 'RedHatText';
    src: url('../public/assets//fonts/static/RedHatText-SemiBold.ttf') format('truetype');
    font-weight: bold; 
}

  @font-face {
    font-family: 'RedHatText';
    src: url('../public/assets//fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 300;  
}

  body {
    font-size: 16px;
    font-family: 'RedHatText', sans-serif;
    font-weight: normal;
    background-color: rgb(252,248,246);
  }

  h1{
    font-family: 'RedHatText', sans-serif;
    font-weight: bold;
  }

  .text-red{
    color: #C73B0F;
  }
  .text-rose500{
    color: #87635A;
  }
  .row100{
    color: #F5EEEC;
  }
   .bg-red{
    background-color: #C73B0F;
  }

  .bg-rose50{
    background-color: #FCF8F6;
  }
  .border-bottom{
    border-bottom: 1px solid;
    border-bottom-color: #F5EEEC;
  }
